package templates

import ()

templ Page() {
	<!DOCTYPE html>
	<html>
		<body>
			<header>
				<h1>htmx-server</h1>
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/board">Board</a></li>
					</ul>
				</nav>
			</header>
			<main>
				{ children... }
			</main>
			<footer></footer>
			<script async type="text/javascript" src="/static/htmx.min.js"></script>
		</body>
	</html>
}
