{{ block "index" . }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
  </head>
  <body>
    <header>
      <h1>htmx-server</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/board">Board</a></li>
        </ul>
      </nav>
    </header>
    <main></main>
    <footer></footer>
    Count das {{ .Count }}
    <script async type="text/javascript" src="/static/htmx.min.js"></script>
  </body>
</html>
{{ end }}
